.font-headline {
  font-family: var(--font-headline);
  font-weight: bold;
  letter-spacing: -.05em;
}

.skew {
  transform: skew(0, -3deg);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;

  &.padded {
    padding: var(--site-padding);
  }

  &.padded-x {
    padding: 0 var(--site-padding);
  }

  &.padded-y {
    padding: var(--site-padding) 0;
  }
}

.focus-blue {
  --focus-color: var(--blue);
}

.focus-fuchsia {
  --focus-color: var(--fuchsia);
}

.color-orange {
  --color: var(--orange);
}

.color-fuchsia {
  --color: var(--fuchsia);
}

.color-blue {
  --color: var(--blue);
}