/* Colors */
$orange: #ff6720;
$fuchsia: #e41857;
$blue: #023399;
$black: #353949;
$white: #fff;
$light-gray: #EEF0F6;
$gray: #71717a;

/* Typography */
$font-base: Manrope, sans-serif;
$font-headline: 'Archiv Grotesk', sans-serif;

/* Breakpots */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px,
  xxl: 1540px,
  sup: 2200px
);

/* Sizing */
$container-max-width: 1500px;

